<mat-card>
  <mat-toolbar color="primary">Detail of courses</mat-toolbar>
  <mat-card-content>
    <form [formGroup]="form">
      <mat-form-field class="full-width">
        <input matInput placeholder="Name course" formControlName="name" #name>
        <mat-hint align="end">{{ name.value.length }}/20</mat-hint>
        @if (form.get('name')?.invalid) {
          <mat-error>{{ getErrorMessage('name') }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Category course</mat-label>
        <mat-select formControlName="category">
          <mat-option value="null"> </mat-option>
          <mat-option value="Front-end">Front-End</mat-option>
          <mat-option value="Back-end">Back-End</mat-option>
        </mat-select>
      </mat-form-field>

    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
    <button mat-button (click)="onCancel()">Cancel</button>
  </mat-card-actions>
</mat-card>
